%h1= @type.name

.pull-right= link_to 'Edit', edit_type_path(@type), :class => "button secondary"

- @type.products.each do |product|
  = link_to product.name, product_path(product), :class => "button expand"
