%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a{:href => "/"}
          BabyBest
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.right
      %li.divider
      %li= link_to "Companies", companies_path
      %li.divider
      %li= link_to "Products", products_path
      %li.divider
      %li= link_to "Product Types", types_path
      %li.divider
      %li= link_to "Stores", stores_path
