%h1 Products

.pull-right= link_to "New Product", new_product_path, :class => "button secondary"

%hr

- Type.all.each do |type|
  .row
    .large-12.columns
      %h3= type.name
      - type.products.each do |product|
        = link_to product.name, product_path(product), :class => "button expand"


